.btn{
	display: block;
	border-radius: none;
	border: none;
	padding: 11px;
	font-size: 14px;
	margin: 30px auto;
	background-color: #465a3f;
	color: white;
}
.chart{
	margin: 30px auto;
}

th, td{
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	background-color: #00BFFF;
    color: white;
}
table{
	width: 100%;
}

#temp-table{
	margin: 122px; 

}
#sound-table{
	margin: 122px;
}

#tables-container{ 
	

}
.table{
	display: inline-block;
}

